/* Fonts: */

/* agu-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Agu Display';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/agu-display-v3-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* alkalami-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alkalami';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/alkalami-v8-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* advent-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/advent-pro-v33-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Main CSS */

html {
    font-size: 16px;
    background-image: url(images/Red\ Sea.png);
}

body {
  font-family: 'Advent Pro', 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
  color: brown;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Advent Pro', 'Open Sans', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Agu Display', sans-serif;
  font-weight: 400;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}

/* End font sizing */

img {
    max-width: 20%;
}

.content {
    background-color: yellow;
    margin: 200px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 5px 10px 5px rgba(125, 38, 7, 0.75);
}

.player {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 120px;
}