body {
    height: 100%;
    display: grid;
    place-items: start center;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='200' height='200' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(155, 44, 44,1)'/%3E%3Cpath d='M20 9a 20 20 0 0 1 40 0h2a 2 2 0 0 1-4 0a 18 18 0 0 0-36 0a 2 2 0 0 1-4 0a 18 18 0 0 0-36 0h-2a 20 20 0 0 1 40 0z' fill='rgba(116, 42, 42,1)'/%3E%3Cpath d='M0 29.5a 20 20 0 0 1 40 0h1a 1 1 0 0 1-2 0a 19 19 0 0 0-38 0a 1 1 0 0 1-2 0z' fill='rgba(214, 158, 46,1)'/%3E%3Cpath d='M20 49a 20 20 0 0 1 40 0h2a 2 2 0 0 1-4 0a 18 18 0 0 0-36 0a 2 2 0 0 1-4 0a 18 18 0 0 0-36 0h-2a 20 20 0 0 1 40 0z' fill='rgba(116, 42, 42,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
    background-color: rgba(126, 10, 10, 1);
    text-align: center;
    padding: 30px;
}

h1, p {
    color: black;
}

.summary {
    margin-bottom: 0px;
}

.grid {
    display: grid;
    grid-template: 450px 450px 450px 450px / 300px 300px 300px;
    gap: 20px;
    place-items: end stretch;
}

.grid div {
    padding: 10px;
    border-radius: 20px;
    background-color: #eb3b3b;
}

.grid img {
    max-height: 250px;
}