body {
    height: 100%;
    display: grid;
    place-items: start center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2000' height='560' preserveAspectRatio='none' viewBox='0 0 2000 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1017%26quot%3b)' fill='none'%3e%3crect width='2000' height='560' x='0' y='0' fill='rgba(255%2c 109%2c 109%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c167 C 133.4%2c145.4 400.2%2c42.8 667%2c59 C 933.8%2c75.2 1067.4%2c236.6 1334%2c248 C 1600.6%2c259.4 1866.8%2c142.4 2000%2c116L2000 560L0 560z' fill='rgba(209%2c 69%2c 69%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c320 C 133.4%2c348.8 400.2%2c471.2 667%2c464 C 933.8%2c456.8 1067.4%2c285.6 1334%2c284 C 1600.6%2c282.4 1866.8%2c421.6 2000%2c456L2000 560L0 560z' fill='rgba(173%2c 21%2c 21%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1017'%3e%3crect width='2000' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-color: #AD1515;
    text-align: center;
    padding: 30px;
}

.grid {
    display: grid;
    grid-template: 300px 300px 300px 300px / 300px 300px 300px;
    gap: 20px;
    place-items: end stretch;
}

.grid div {
    padding: 20px;
    border-radius: 20px;
    background-color: bisque;
}