/* abeezee-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/abeezee-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* acme-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/acme-v27-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    background-color: #EDE3E9;
}

h1, h2, h3, h4, h5, h6, ul, p, figcaption, footer, form {
    color: #292F36;
}

h1, h2, h3, h4, h5, h6, form label {
    font-family: 'Acme', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    list-style-type: none;
    margin: 10px;
    font-size: 1.15em;
    border-radius: 4px;
    padding: 3px;
    background-color: #EBC3DB;
    text-align: center;
}

li a {
    color: #292F36;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 61.04px;
}

h2 {
    text-align: center;
    font-size: 48.83px;
}

h3 {
    font-size: 39.06px;
}

h4 {
    font-size: 31.25px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
}

p, ul, figcaption, footer, form input {
    font-family: 'ABeeZee', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

p {
    margin-left: 2%;
    margin-right: 2%;
}

small {
    font-size: 12.8px;
}

figure {
    border: 4px solid #6f73d2;
    border-radius: 2px;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

img {
    max-width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    padding: 5px;
}

form {
    display: flex;
    flex-flow: column wrap;
    gap: 6px;
    align-items: center;
}

input {
    background-color: #EDE3E9;
    border-color: #6f73d2;
    border-radius: 6px;
}

input::placeholder {
    color: rgba(33, 177, 255, .75);
}

input[type="submit"] {
    border-color: rgb(33, 177, 255);
    background-color: rgb(33, 177, 255);
}

input[type="submit"]:hover {
    border-color: #6f73d2;
    background-color: #6f73d2;
}

footer {
    text-align: center;
    position: static;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin-left: -30px;
    margin-top: 90px;
    margin-bottom: -10px;
    width: 102.5%;
}

footer div {
    border-radius: 0px;
    background-color: #6f73d2;
    padding-top: 4px;
    margin-right: -35px;
}

.content {
    background-color: #EBC3DB;
    border-radius: 10px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 5%;
    margin-right: 5%;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/peppermint_forest.png);
    height: auto;
    width: auto;
    margin-left: -25px;
    margin-right: -25px;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h1 {
    color: #EDE3E9;
    padding-top: 300px;
    padding-bottom: 300px;
}

.intro {
    text-align: center;
}

.map {
    background-color: #f8b3ff;
}

.figure {
    max-width: 20em;
    float: right;
    margin-left: 20px;
    margin-right: 2%;
    border-radius: 20px;
    background-color: white;
}

.statement {
    text-align: center;
}

.button {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 3px;
    background-color: #6f73d2;
    color: #292F36;
    text-decoration: none;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    background-color: rgb(33, 177, 255);
}

ul li:hover {
    background-color: #6f73d2;
    color: #EDE3E9;
}

ul li a:hover {
    color: #EDE3E9;
}

.sweets {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    flex-basis: auto;
    overflow-wrap: break-word;
    width: 200px;
    height: 200px;
}

.marsha {
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(images/Peppermint.webp);
    background-position: -300px -300px;
    background-color: #EDE3E9;
    border-radius: 100%;
    width: fit-content;
    aspect-ratio: 1/1;
    padding: 2%;
    margin-bottom: 20px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.marsha h3 {
    margin-top: 100px
}

.gumdrop {
    text-align: center;
    background-image: linear-gradient(rgba(66, 135, 245, .5), rgba(66, 135, 245, .5)), url(images/blue\ gumdrop.jpg);
    background-color: #6f73d2;
    background-size: 300% 300%;
    background-position: -450px -500px;
    border-radius: 63% 37% 39% 61% / 35% 31% 69% 65%;
    width: fit-content;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 4%;
    margin-bottom: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    align-self: flex-end;
}

.gumdrop h3, .gumdrop p {
    color: #EDE3E9;
}

.muffin {
    text-align: center;
    background-image: linear-gradient(rgba(245, 196, 127, .75), rgba(245, 196, 127, .75)), url(images/muffin.jpg);
    background-color: wheat;
    background-size: 300% 300%;
    background-position: -450px -400px;
    width: fit-content;
    aspect-ratio: 1/1;
    padding: 2%;
    margin-bottom: 60px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 18px;
    margin-top: -10px;
}

@media (max-width: 500px) {
    .nav {
        flex-flow: column;
    }
}