body {
    background-color: #EDE3E9;
}

h1, h2, h3, h4, h5, h6, ul, p {
    color: #292F36;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    list-style-type: none;
    margin: 10px;
    font-size: 1.15em;
    border-radius: 4px;
    padding: 3px;
    background-color: #EBC3DB;
    text-align: center;
}

li a {
    color: #292F36;
    text-decoration: none;
}

h1 {
    text-align: center;
}

figure {
    border: 4px solid #6f73d2;
    border-radius: 2px;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

img {
    max-width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    padding: 5px;
}

footer {
    text-align: center;
    position: static;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin-left: -30px;
    margin-top: 90px;
    margin-bottom: -10px;
    width: 102.5%;
}

footer div {
    border-radius: 0px;
    background-color: #6f73d2;
    padding-top: 4px;
}

.content {
    background-color: #EBC3DB;
    border-radius: 10px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/peppermint_forest.png);
    height: 750px;
}

.hero h1 {
    color: #EDE3E9;
    font-size: 60px;
    padding-top: 300px;
}

.map {
    background-color: #f8b3ff;
}

.figure {
    max-width: 20em;
    float: right;
    border: none;
    margin-left: none;
    margin-right: none;
}

.button {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 3px;
    background-color: #6f73d2;
    color: #292F36;
    text-decoration: none;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    background-color: rgb(33, 177, 255);
}

ul li:hover {
    background-color: #6f73d2;
    color: #EDE3E9;
}

ul li a:hover {
    color: #EDE3E9;
}

.lolwhoops {
    color: #EBC3DB;
}

.marsha {
    text-align: center;
    background-color: #EDE3E9;
    border-radius: 100%;
    width: fit-content;
    aspect-ratio: 1/1;
    padding: 2%;
    margin-bottom: 60px;
}

.gumdrop {
    text-align: center;
    background-color: #6f73d2;
    border-radius: 63% 37% 39% 61% / 35% 31% 69% 65%;
    width: fit-content;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 60px;
    position: relative;
    left: 82%;
}

.muffin {
    text-align: center;
    background-color: wheat;
    width: fit-content;
    aspect-ratio: 1/1;
    padding: 2%;
    margin-bottom: 60px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 18px;
    margin-top: -10px;
}