body {
    background-color: #EDE3E9;
}

div {
    background-color: #EBC3DB;
    border-radius: 10px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

h1, h2, h3, h4, h5, h6, ul, p {
    color: #292F36;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    list-style-type: none;
    margin: 10px;
    font-size: 1.15em;
    border-radius: 4px;
    padding: 3px;
    background-color: #EBC3DB;
    text-align: center;
}

h1 {
    text-align: center;
}

figure {
    border: 4px solid #6f73d2;
    border-radius: 2px;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

img {
    max-width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    padding: 5px;
}

.hero {
    background-image: url(images/peppermint_forest.png);
    height: 500px;
}

.map {
    background-color: #f8b3ff;
}

.figure {
    max-width: 20em;
    float: right;
    border: none;
    margin-left: none;
    margin-right: none;
}

.button {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 3px;
    background-color: #6f73d2;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    background-color: rgb(33, 177, 255);
}

ul li:hover {
    background-color: #6f73d2;
    color: #EDE3E9;
}